<div id="<%= dom_id subscription_history %>">
  <p>
    <strong>User:</strong>
    <%= subscription_history.user_id %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= subscription_history.subscription_id %>
  </p>

  <p>
    <strong>Subscription start:</strong>
    <%= subscription_history.subscription_start %>
  </p>

  <p>
    <strong>Subscription end:</strong>
    <%= subscription_history.subscription_end %>
  </p>

  <p>
    <strong>Coupon:</strong>
    <%= subscription_history.coupon_id %>
  </p>

</div>
