<div id="<%= dom_id content %>">
  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= content.release_date %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= content.genre %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= content.category %>
  </p>

  <p>
    <strong>Banner:</strong>
    <%= content.banner %>
  </p>

  <p>
    <strong>Trailer link:</strong>
    <%= content.trailer_link %>
  </p>

  <p>
    <strong>Vip status:</strong>
    <%= content.vip_status %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= content.status %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= content.views %>
  </p>

</div>
