<%= form_with(model: payement_detail) do |form| %>
  <% if payement_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payement_detail.errors.count, "error") %> prohibited this payement_detail from being saved:</h2>

      <ul>
        <% payement_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :subscription_id, style: "display: block" %>
    <%= form.text_field :subscription_id %>
  </div>

  <div>
    <%= form.label :order_id, style: "display: block" %>
    <%= form.text_field :order_id %>
  </div>

  <div>
    <%= form.label :payement_id, style: "display: block" %>
    <%= form.text_field :payement_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
