<div id="<%= dom_id payement_detail %>">
  <p>
    <strong>User:</strong>
    <%= payement_detail.user_id %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= payement_detail.subscription_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= payement_detail.order_id %>
  </p>

  <p>
    <strong>Payement:</strong>
    <%= payement_detail.payement_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payement_detail.amount %>
  </p>

</div>
