<div id="<%= dom_id appopen %>">
  <p>
    <strong>User:</strong>
    <%= appopen.user_id %>
  </p>

  <p>
    <strong>Source ip:</strong>
    <%= appopen.source_ip %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= appopen.location %>
  </p>

  <p>
    <strong>Version name:</strong>
    <%= appopen.version_name %>
  </p>

  <p>
    <strong>Version code:</strong>
    <%= appopen.version_code %>
  </p>

</div>
