<div id="<%= dom_id user %>">
  <p>
    <strong>Social:</strong>
    <%= user.social_id %>
  </p>

  <p>
    <strong>Social token:</strong>
    <%= user.social_token %>
  </p>

  <p>
    <strong>Social type:</strong>
    <%= user.social_type %>
  </p>

  <p>
    <strong>Social imgurl:</strong>
    <%= user.social_imgurl %>
  </p>

  <p>
    <strong>Social email:</strong>
    <%= user.social_email %>
  </p>

  <p>
    <strong>Social name:</strong>
    <%= user.social_name %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= user.device_id %>
  </p>

  <p>
    <strong>Device name:</strong>
    <%= user.device_name %>
  </p>

  <p>
    <strong>Device type:</strong>
    <%= user.device_type %>
  </p>

  <p>
    <strong>Security token:</strong>
    <%= user.security_token %>
  </p>

  <p>
    <strong>Advertising:</strong>
    <%= user.advertising_id %>
  </p>

  <p>
    <strong>Referral code:</strong>
    <%= user.referral_code %>
  </p>

  <p>
    <strong>Version name:</strong>
    <%= user.version_name %>
  </p>

  <p>
    <strong>Version code:</strong>
    <%= user.version_code %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user.location %>
  </p>

  <p>
    <strong>Source ip:</strong>
    <%= user.source_ip %>
  </p>

  <p>
    <strong>Fcm token:</strong>
    <%= user.fcm_token %>
  </p>

  <p>
    <strong>Utm source:</strong>
    <%= user.utm_source %>
  </p>

  <p>
    <strong>Utm medium:</strong>
    <%= user.utm_medium %>
  </p>

  <p>
    <strong>Utm term:</strong>
    <%= user.utm_term %>
  </p>

  <p>
    <strong>Utm content:</strong>
    <%= user.utm_content %>
  </p>

  <p>
    <strong>Utm campaign:</strong>
    <%= user.utm_campaign %>
  </p>

  <p>
    <strong>Utm gclid:</strong>
    <%= user.utm_gclid %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= user.mobile_number %>
  </p>

</div>
