<!-- <p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div> -->

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Showing User Details</h2>
        <% if @rd == 'y' %>
        <b><%= link_to 'Back to Redeems', redeem_requests_path %></b>
        <% else %>
        <b><%= link_to 'Back to Users', users_path %></b>
        <% end %>  
      </div>
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Device</th>
            <th>DName/Vcode</th>
            <th>GEmail</th>
            <th>GName</th>
            <th>RefCode</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.id %></td>
            <td><%= @user.try(:device_id) %></td>
            <td><%= @user.try(:device_name) %> / <%= @user.try(:device_type) %></td>
            <td><%= @user.try(:social_email) %></td>
            <td><%= @user.try(:social_name) %></td>
            <td><%= @user.try(:referral_code) %></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th>SourceIp</th>
            <th>Location</th>
            <th>vName/vCode</th>
            <th>DateTime</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.try(:source_ip) %></td>
            <td><%= @location %></td>
            <td><%= @user.try(:version_name) %> / <%= @user.try(:version_code) %></td>
            <td><%= @user.try(:created_at).strftime("%d/%m/%Y %I:%M%p")  %></td>
          </tr>
        </tbody>
      </table>
      
      <b style="color:tomato;">User App Opened</b>
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th>#ID</th>
            <th>SourceIp</th>
            <th>AppVName</th>
            <th>AppVCode</th>
            <th>DateTime</th>
          </tr>
        </thead>
        <tbody>
          <% app_opens = @user.appopens.order("created_at desc").limit(5) %>
          <% app_opens.each do |app_open| %>          
          <tr>
            <td><%= app_open.id %></td>
            <td><%= app_open.try(:source_ip) %></td>
            <td><%= app_open.try(:version_name) %></td>
            <td><%= app_open.try(:version_code) %></td>
            <td><%= app_open.try(:created_at).strftime("%d/%m/%Y %I:%M%p")  %></td>
          </tr>
          <% end %>          
        </tbody>
      </table>

      <b><%= link_to 'Back to Users', users_path %></b>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
  