<div id="<%= dom_id episode %>">
  <p>
    <strong>Content:</strong>
    <%= episode.content_id %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= episode.season %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= episode.url %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= episode.thumbnail %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Runtime:</strong>
    <%= episode.runtime %>
  </p>

  <p>
    <strong>Cast:</strong>
    <%= episode.cast %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= episode.director %>
  </p>

  <p>
    <strong>Story:</strong>
    <%= episode.story %>
  </p>

  <p>
    <strong>Vip status:</strong>
    <%= episode.vip_status %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= episode.status %>
  </p>

</div>
