<div id="<%= dom_id history %>">
  <p>
    <strong>User:</strong>
    <%= history.user_id %>
  </p>

  <p>
    <strong>Episode:</strong>
    <%= history.episode_id %>
  </p>

  <p>
    <strong>Watch list:</strong>
    <%= history.watch_list %>
  </p>

  <p>
    <strong>Favorite list:</strong>
    <%= history.favorite_list %>
  </p>

</div>
