<%= form_with(model: subscription) do |form| %>
  <% if subscription.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Basic Form Elements
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="form-group">
              <label>Name</label>
              <%= form.text_field :name, class: "form-control", placeholder: "Enter name", :required => true %>
            </div>
            <div class="form-group">
              <label>Real Amount</label>
              <%= form.text_field :real_amount, class: "form-control", placeholder: "Enter real_amount" %>
            </div>
            <div class="form-group">
              <label>Offer Amount</label>
              <%= form.text_field :offer_amount, class: "form-control", placeholder: "Enter offer_amount" %>
            </div>
            
            <div class="form-group">
              <label>Duration</label>
              <%= form.text_field :duration, class: "form-control", placeholder: "Enter duration", :required => true %>
            </div>
            <div class="form-group">
              <label>Status</label>
              <%= form.select :status, options_for_select([['Active', true], ['Inactive', false]], selected: form.object.status),{}, {class: 'form-control'} %>
            </div>
            <div class="form-group"> 
              <button type="submit" class="btn btn-primary">Submit Record</button>
              <button type="reset" class="btn btn-default">Reset Form</button>     
            </div>    
          <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<% end %>