<div id="<%= dom_id subscription %>">
  <p>
    <strong>Name:</strong>
    <%= subscription.name %>
  </p>

  <p>
    <strong>Real amount:</strong>
    <%= subscription.real_amount %>
  </p>

  <p>
    <strong>Offer amount:</strong>
    <%= subscription.offer_amount %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= subscription.duration %>
  </p>

</div>
